<tr id="<%= dom_id employee %>">
  <td>
    <%= employee.id %>
  </td>
  <td>
    <%= link_to employee.name, edit_employee_path(employee) %>
  </td>
  <td>
    <%= link_to employee.email %>
  </td>
  <td>
    <%= link_to "Remove this", employee, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  </td>
</tr>
