<%= bootstrap_form_for(task) do |form| %>
  <%= form.collection_select :category_id, Category.all, :id, :title, include_blank: true %>

  <%= form.text_field :title %>
  <%= form.text_field :address %>

  <%= form.text_area :description %>

  <%= form.date_field :completed_at %>
  <%= form.collection_select :employee_ids, Employee.all, :id, :name, {}, {multiple: true} %>

  <div>
    <div class="btn-group" role="group" aria-label="Actions">
      <%= form.submit %>
      <%= link_to 'Back to list', url_for(action: :index), class: 'btn btn-outline-secondary' %>
    </div>
  </div>
<% end %>
