<%= bootstrap_form_for(task) do |form| %>
  <div id="select_employee_ids" class="d-none">
    <%=render partial: 'select_employee_ids', locals: {task: task} %>
  </div>

  <%= turbo_stream_from "select_employees" %>
  <%= label_tag 'Employees' %>
  <ul class="list-group list-group-horizontal select_employees mb-3" id="select_employees">
    <%= render partial: 'select_employees_list', locals: {task: task} %>
  </ul>
  <%= form.collection_select :category_id, Category.all, :id, :title, include_blank: true %>

  <%= form.text_field :title %>
  <%= form.text_field :address %>

  <%= form.text_area :description %>

  <%= form.date_field :completed_at %>

  <div>
    <div class="btn-group" role="group" aria-label="Actions">
      <%= form.submit %>
      <%= link_to 'Back to list', url_for(action: :index), class: 'btn btn-outline-secondary' %>
    </div>
  </div>
<% end %>
