<div class="row">
  <div class="col-lg-12">

  </div>
</div>
<div id="map" style="height: 400px"></div>
<% content_for :maps do %>
  <script>
    function initMap() {
      const directionsRenderer = new google.maps.DirectionsRenderer();
      const directionsService = new google.maps.DirectionsService();
      const myLatLng = { lat: <%=task.latitude%>, lng: <%=task.longitude%> };
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 13,
        center: myLatLng,
      });
      const contentString =
        '<div>' +
          '<div>' +
          "</div>" +
          '<h5 class="firstHeading"><%=task.title%></h5>' +
          '<div id="bodyContent">' +
            "<p><%=task.description%></p>"
          "</div>" +
        "</div>";
      const infowindow = new google.maps.InfoWindow({
        content: contentString,
      });
      const marker = new google.maps.Marker({
        position: myLatLng,
        map,
        title: "<%=task.title%>",
      });

      marker.addListener("click", () => {
        infowindow.open({
          anchor: marker,
          map,
          shouldFocus: false,
        });
      });
      setMarkers(map);
      directionsRenderer.setMap(map);
    }

    function calcRoute(directionsService, directionsRenderer,start,end) {
      var request = {
        origin: start,
        destination: end,
        travelMode: 'DRIVING'
      };
      directionsService.route(request, function(result, status) {
        directionsRenderer.setDirections(null);
        if (status == 'OK') {
          directionsRenderer.setDirections(result);
        }
      });
    }



    function setMarkers(map) {
      var employees = <%= raw Employee.actives.pluck(:name, :latitude, :longitude, :address) %>;
      var task = <%= raw [task.title, task.address] %>;
      var taskTitle = task[0];
      var taskAddress = task[1];

      employees.forEach(employee => {
        var employeeName = employee[0];
        var employeeLatitude = employee[1];
        var employeeLongitude = employee[2];
        var employeeAddress = employee[2];

        var marker = new google.maps.Marker({
          position: { lat: employeeLatitude, lng: employeeLongitude },
          map,
          icon: {
            path: google.maps.SymbolPath.FORWARD_OPEN_ARROW,
            scale: 5,
          },

          title: employeeName
        });

        var contentString = '<div><p class="firstHeading">Operador: '+employeeName+'</p>'+
          '<a class="btn btn-primary btn-sm" data-reflex="click->AssociateEmployee#associate" href="javascript:;">Ativar operador para esta tarefa</a></div>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString,
        });

        marker.addListener("click", () => {
          infowindow.open({
            anchor: marker,
            map,
            shouldFocus: false,
          });
        });

      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-du27hJok1T6knOhB4kyy5HGV1CCvjVI&callback=initMap&v=weekly" async></script>
<% end %>
