<div id="map" style="height: 400px"></div>
<% content_for :maps do %>
  <script>
    var map;
    var directionsService;
    var directionsRenderer;
    var myLatLng = { lat: <%=task.latitude%>, lng: <%=task.longitude%> };
    var renderObjects = [];
    var renderObjectsOrigins = [];
    function initMap() {
      directionsService = new google.maps.DirectionsService();
      directionsRenderer = new google.maps.DirectionsRenderer();
      map = new google.maps.Map(document.getElementById("map"), {
        zoom: 15,
        center: myLatLng,
      });
      const contentString =
        '<div>' +
          '<h5 class="firstHeading"><%=task.title%></h5>' +
          '<div id="bodyContent">' +
            "<p><%=task.description%></p>"
          "</div>" +
        "</div>";
      const infowindow = new google.maps.InfoWindow({
        content: contentString,
      });
      const marker = new google.maps.Marker({
        position: myLatLng,
        map,
        title: "<%=task.title%>",
      });

      marker.addListener("click", () => {
        infowindow.open({
          anchor: marker,
          map,
          shouldFocus: false,
        });
      });
      setMarkers();

      directionsRenderer.setMap(map);
    }

    function renderDirections(result, employeeId) {
      if(renderObjectsOrigins.includes(employeeId) == false){
        var directionsRenderer = new google.maps.DirectionsRenderer({map:map});
        directionsRenderer.setDirections(result);

        renderObjects.push(directionsRenderer);
        renderObjectsOrigins.push(employeeId);

      }
    }

    function requestDirections(start, end, employeeId) {
      directionsService.route({
        origin: start,
        destination: end,
        travelMode: google.maps.DirectionsTravelMode.DRIVING
      }, function(result) {
        renderDirections(result, parseInt(employeeId));
      });
    }

    function setMarkers() {
      var directionsRendererOptions = {
        mapTypeId: google.maps.MapTypeId.ROADMAP,
      }
      directionsRenderer.setMap(map)

      var activeEmployees = <%= raw Employee.actives.pluck(:id, :name, :address, :latitude, :longitude) %>;
      var taskEmployees = <%= raw task.employees.pluck(:id, :name, :address, :latitude, :longitude) %>;
      var task = <%= raw [task.id, task.title, task.address] %>;
      var taskId = task[0];
      var taskTitle = task[1];
      var taskAddress = task[2];

      activeEmployees.forEach(employee => {
        var employeeId = employee[0];
        var employeeName = employee[1];
        var employeeAddress = employee[2];
        var employeeLatitude = employee[3];
        var employeeLongitude = employee[4];

        var marker = new google.maps.Marker({
          position: { lat: employeeLatitude, lng: employeeLongitude },
          map,
          icon: {
            path: google.maps.SymbolPath.CIRCLE,
            scale: 3,
          },

          title: employeeName
        });

        var contentString = '<div id="<%=dom_id task%>"><p class="firstHeading">Operador: '+employeeName+'</p>'+
          '<button class="btn btn-primary btn-sm" data-task_latitude="'+myLatLng['lat']+'" data-task_longitude="'+myLatLng['lng']+'"  data-employee_latitude="'+employeeLatitude+'" data-employee_longitude="'+employeeLongitude+'" data-task_id="'+taskId+'" data-employee_id="'+employeeId+'" data-reflex="click->Employee#associate" data-controller="employee">Active for this task</button></div>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString,
        });

        marker.addListener("click", () => {
          infowindow.open({
            anchor: marker,
            map,
            shouldFocus: false,
          });
        });

      });

      taskEmployees.forEach(employee => {
        var employeeId = employee[0];
        var employeeName = employee[1];
        var employeeAddress = employee[2];
        var employeeLatitude = employee[3];
        var employeeLongitude = employee[4];
        requestDirections({lat: employeeLatitude, lng: employeeLongitude}, myLatLng, employeeId);
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-du27hJok1T6knOhB4kyy5HGV1CCvjVI&callback=initMap&v=weekly" async></script>
<% end %>
