<tr id="<%= dom_id task %>">
  <td>
    <%= task.id %>
  </td>
  <td>
    <%= link_to task.category.title, edit_category_path(task.category) %>
  </td>
  <td>
    <%= link_to task.title, edit_task_path(task) %>
  </td>
  <td>
    <%= l(task.completed_at) if task.completed_at %>
  </td>
  <td>
    <%= link_to "Remove this", task, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  </td>
</tr>
