<%= turbo_frame_tag dom_id(task) do %>
<blockquote>
  <p>
    <strong>Company:</strong>
    <%= task.company %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user %>
  </p>

  <p>
    <strong>Employees:</strong>
    <%= task.employees.map{|t| t.name}.to_sentence %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= task.address %>
  </p>


  <% if defined?(:show_map) %>
    <%= render 'tasks/map', task: task %>
  <% end %>

  <p>
    <%=link_to 'Edit this task', edit_task_path(task) %>
    <%= button_to "Destroy this task", task, method: :delete %>
  </p>

</blockquote>
<% end %>
