<p style="color: green"><%= notice %></p>
<h1>Users</h1>

<%= render 'form', user: @user %>
<%= link_to 'Cancel', users_path %>

<%= turbo_frame_tag "users" do %>
  <%= render @users %>
  <%= will_paginate(@users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer) %>
<% end %>