<p style="color: green"><%= notice %></p>
<%= turbo_stream_from "users" %>

<%= turbo_frame_tag "form_user" do %>
  <%= render 'form', user: @user %>
  <%= link_to 'Cancel', users_path %>
<% end %>

<%= turbo_frame_tag "users" do %>
  <%= render @users %>
<% end %>