<!DOCTYPE html>
<html>
  <head>
    <title>HelpMyNet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="test"></div>
    <div class="container">
      <main>
        <header class="p-3 mb-3 border-bottom">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <%= fa_icon "wifi", class: "fa-2x" %>
              </a>

              <%= render partial: 'layouts/header_authenticated' if user_signed_in? %>
              <%= render partial: 'layouts/header_not_authenticated' unless user_signed_in? %>
            </div>
          </div>
        </header>

        <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
        <% end %>

        <%= yield %>
      </main>
    </div>
  </body>
  <%=yield(:maps) %>
</html>
