<!DOCTYPE html>
<html>
  <head>
    <title>HelpMyNet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= action_cable_meta_tag %>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

  </head>

  <body>
    <header>
      <ul>
        <li><%=link_to 'Dashboard', root_path %></li>
        <li><%=link_to 'Tasks', tasks_path %></li>
        <li><%=link_to 'Users', users_path %></li>
        <li><%=link_to 'Employees', employees_path %></li>
        <li><%=link_to 'Companies', companies_path %></li>
        <% if user_signed_in? %>
        <li><%=link_to "Edit account", edit_user_registration_path %></li>
        <li><%=link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
